.vscode/**
.vscode-test/**
.gitignore
tsconfig.json
tsconfig.tsbuildinfo
client/src/**
server/src/**
**/*.test.ts
node_modules/**
client/node_modules/**
server/node_modules/**
**/package-lock.json
**/tsconfig.json
**/tsconfig.tsbuildinfo
